# Node Modules
/node_modules

# Our frontend which will be published in a later repository  
/profile
/user
/network

# Sensitive Information Will not be published.
/frontend/net.hetmastertje/
/admin


# This handles secure stuff that we wont disclose
/src/proprietary
/com.arkasphere
/src/com.arkasphere
/src/net.hetmastertje

# The ENV 
.env

# Temporarily files
/temp
/temp/data
frontend/home/notes
