# Node Modules
/node_modules

# Our frontend which will be published in a later repository  
/profile
/user
/network

# Sensitive Information Will not be published.
/frontend/javascript
/frontend/javascript/sensitive
/admin


# This handles secure stuff that we wont disclose
/src/proprietary

# The ENV 
.env

# Temporarily files
/temp
/temp/data