body {
  margin: 0;
}

.header-Container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #161616;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
  padding: 1px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 1.2%;
  padding-top: 0;
}

.logo {
  cursor: pointer;
}

.nav_links {
  list-style: none;
  padding: 0;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: blue;
}

.button-container {
  display: flex;
  /* background-color: #6890d5; */
  background-color: #242424;
  border-radius: 15px;
  padding-top: 2px;
}

button {
  padding: 5px 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin: 0;
  background-color: transparent;
}

button:hover::after {
  content: attr(data-tooltip);
  /* top: 3.3rem; */
  position: absolute;
  transform: translateX(-65%) translateY(240%);
  background-color: transparent;
}

img {
  max-width: 25px;
}

img:hover {
  max-width: 25px;
  background-color: #5963eb;
  border-radius: 10px;
  padding: 3px;
  background-color: transparent;
}
