@font-face {
  font-family: "Minecraft";
  src: url(Minecraft.ttf);
}

* {
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

html,
body {
  height: 99%;
  background-color: #131314;
}

.ArkaSphere {
  justify-content: center; /* Horizontally center the child */
  align-items: flex-start; /* Vertically center the child */
  display: flex;
  padding: 0;
}

.ArkaSphere h6 {
  margin: 0px;
  font-weight: 800;
  font-size: 1.2rem;
  color: #edeffd;

  border-style: none;
  /* position: fixed; */
  z-index: 5;
  font-family: "Minecraft";
  letter-spacing: 6px;
  padding: 0;
}

.header {
  background-color: #161c27;
  padding: 10px;
}
